import { SwaggerClient, SwaggerInit } from 'swagger-client';
import { Api } from './api';

{{#models}}
{{#model}}
export * from './model/{{{ classFilename }}}';
{{/model}}
{{/models}}

interface Init extends SwaggerInit {
  defaultUrl?: string;
}

declare const api: (init: Init) => ReturnType<SwaggerClient<Api>>;
export default api;
