{
	"name": "{{npmName}}",
	"version": "{{{npmVersion}}}",
	"description": "{{{appDescription}}}",
	"author": "{{{infoName}}} {{{infoEmail}}}",
	"main": "index.js",
	{{#npmRepository}}
	"publishConfig": {
		"registry": "{{{npmRepository}}}"
	},
	{{/npmRepository}}
	"dependencies": {
		"@types/swagger-schema-official": "^2.0.14",
		"@types/swagger-client": "^3.8.22",
		"swagger-client": "^3.8.22"
	},
	"devDependencies": {}
}
