{
	"name": "{{npmName}}",
	"version": "{{{npmVersion}}}",
	"description": "swagger client for {{{npmName}}}",
	"author": "Swagger Codegen Contributors",
	{{#npmRepository}}
	"publishConfig": {
		"registry": "{{{npmRepository}}}"
	}
	{{/npmRepository}}
	"dependencies": {
		"@types/swagger-schema-official": "latest",
		"swagger-client": "^3.8.22"
	},
	"devDependencies": {}
}
